.btn-dark{
    font-family: 'Black Han Sans', sans-serif, cursive;
    margin: 1.5%;
}

.no-bullets{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.avatar {
    max-width: 25%;
}

.col-5{
  margin-right: -15%;
}

li{
    line-height: 355%;
}

 p {
  line-height: 210%;
}

.row{
    display:flex;
    justify-content: center;
}

.image {
    max-width: 22.5%;
}