<div class="container" *ngIf="currentUser; else loggedOut">
    <header class="jumbotron">
      <h3>
        Profile
      </h3>
    </header>
    <div class="row">
      <div class="col-5">
        <div *ngFor = "let ava of avatar">
           <img  class="image img-fluid img-thumbnail" src="{{ ava.avatarPath }}">
        </div>
        <br>
        <div class="ava">
          <form [formGroup]="form" (ngSubmit)="addAvatar()">
            <label for="avatarImg">Avatar</label>
            <input type="file" (change)="uploadFile($event)"  id="avatarImg" name="avatarImg" formControlName="avatarImg"/>
            <input type="submit" class="btn btn-dark" value="Ajouter avatar" >
          </form>
        </div>
 
      </div>
      <div class="col-3">
    <p>
      <strong>Prenom:</strong>
      {{ currentUser.first_name}}
    </p>
    <p>
      <strong>Nom:</strong>
      {{ currentUser.last_name}}
    </p>
    <p>
      <strong>Email:</strong>
      {{ currentUser.email }}
    </p>
    <p>
      <strong>Private:</strong>
      {{ currentUser.isPrivate }}
    </p>
 
    
    <button type="button" class="btn btn-dark" 
        (click)="openModal(template); showInterests()">Ajouter intéres</button>
      </div>
        <ng-template #template>
          <div class="modal-header">
              <h4 class="modal-title pull-left">Choisissez vos Intérêts</h4>
              <button type="button" class="close pull-right" 
                      aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="savePrivateInterest()">
              <div class="form-check" *ngFor="let interest of interests; let i = index">
                <input class="form-check-input" type="checkbox" name="{{ interest.name }}" id="{{ interest.name }}" value="{{ interest._id }}" (change)="onCheckboxChange($event)">
                <label class="form-check-label" for="{{ interest.name }}">
                  {{ interest.name }}
                </label>
              </div>
              <input type="submit" value="Ajouter intérêts" (click)="modalRef.hide(); reloadPage()">
            </form>
          </div>
      </ng-template>
    <br>
  
    <div class="col-3 int">
     <strong>Intérêts:</strong>
    <div *ngFor = "let privateInterest of privateInterests">
        <ul class="no-bullets">
          <li>
           {{privateInterest.name}}
          </li>
        </ul>

     </div>
     <!-- <a class="btn btn-dark"  role="button" (click)="deleteInterests()">Supprimmer intérêts</a> -->

     

  <input type="submit" value="Faire privé" (click)="makePrivate()" class="btn btn-dark">
</div>
</div>
</div>
  <ng-template #loggedOut>
    Please login.
  </ng-template>