<div class="container" *ngIf="currentUser; else loggedOut">
    <header class="jumbotron">
      <h3>
        User Profile
      </h3>
    </header>
    <p>
      <strong>Prenom:</strong>
      {{ currentUser.first_name}}
    </p>
    <p>
      <strong>Nom:</strong>
      {{ currentUser.last_name}}
    </p>
    <p>
      <strong>Email:</strong>
      {{ currentUser.email }}
    </p>
    <p>
      <strong>Private:</strong>
      {{ currentUser.isPrivate }}
    </p>
 
    
    <button type="button" class="btn btn-info" 
        (click)="openModal(template); showInterests()">Ajouter intéres</button>

        <ng-template #template>
          <div class="modal-header">
              <h4 class="modal-title pull-left">Choisissez vos Intérêts</h4>
              <button type="button" class="close pull-right" 
                      aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="savePrivateInterest()">
              <div class="form-check" *ngFor="let interest of interests; let i = index">
                <input class="form-check-input" type="checkbox" name="{{ interest.name }}" id="{{ interest.name }}" value="{{ interest._id }}" (change)="onCheckboxChange($event)">
                <label class="form-check-label" for="{{ interest.name }}">
                  {{ interest.name }}
                </label>
              </div>
              <input type="submit" value="Ajouter intérêts" (click)="modalRef.hide(); reloadPage()">
            </form>
          </div>
      </ng-template>
    <br>
    
     <strong>Intérêts:</strong>
    <div *ngFor = "let privateInterest of privateInterests">
        <ul>
          <li>
           {{privateInterest.name}}
          </li>
        </ul>

     </div>
  </div>
  
  <input type="submit" value="Faire privé" (click)="makePrivate()">

  <ng-template #loggedOut>
    Please login.
  </ng-template>