<!-- <div class="container content border border-warning rounded" >
 <ul class="messages" *ngFor="let message of messageList" id="msg">
  <h5><b>{{message.id_sender.first_name}} {{message.id_sender.last_name}}</b></h5>
  <li>{{  message.message }}</li>
 </ul> 
</div>
<div class="form">
 <form action="" [formGroup]="form" (ngSubmit)="sendMsg()">
  <input id="m" autocomplete="off" type="text" formControlName = "message"/>
  <button type="submit" class="btn btn-dark">Envoyer</button>
</form>
</div> -->
<!-- <ul  *ngFor="let message of messageList" id="msg">
<li>{{  message.message }}</li>
</ul> -->

<div class="chat_window">
  <div class="top_menu">
    <div class="title">Chat</div>
  </div>
  <!-- <ul class="messages"></ul> -->
  <div class="bottom_wrapper clearfix">
      <!-- <div class="message_input_wrapper"> -->
        <form action="" [formGroup]="form" (ngSubmit)="sendMsg()">
         
          <div class="icon"></div>
            <button type="submit" class="text" class="btn btn-dark">Envoyer</button>
         
          <input id="m" autocomplete="off" formControlName = "message"  />
       
        </form>
          <!-- <input class="message_input" placeholder="Type your message here..." />
      </div> -->
      <!-- <div class="send_message">
          <div class="icon"></div>
          <div class="text">Send</div>
      </div> -->
  <!-- </div> -->
</div>
<!-- <div class="message_template"> -->
  <!-- <li class="message"> -->
      <!-- <div class="avatar"></div> -->
      <div class="text_wrapper">
          <!-- <div class="text"></div> -->
          <ul  *ngFor="let message of messageList" >
            <li><b>{{message.id_sender.first_name}} {{message.id_sender.last_name}}</b></li>
            <li>{{  message.message }}</li>
           </ul> 
      </div>
  <!-- </li> -->
<!-- </div> -->
     <!--<form action="" [formGroup]="form" (ngSubmit)="sendMsg()">
      <input id="m" autocomplete="off" type="text" formControlName = "message"/>
      <button type="submit" class="btn btn-primary">Send</button>
    </form> -->

    